body{
  overflow-x: hidden;
}
#video-background {
  top: -400px;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
.nube {
  left: 30px;
  top: 30px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 140s linear infinite alternate;
}
.nubesvariadas2 {
  z-index: 20;
  top: 0px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 140s linear infinite alternate;
}
.gatico1 {
  left: 300px;
  top: 40px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 60s linear infinite alternate;
}
.nubesvariadasfija{
  position: fixed;
}
.coronita {
  left: 900px;
  top: 40px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 60s linear infinite alternate;
}
.gallinita {
  left: 190px;
  top: 0px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 40s linear infinite alternate;
}
.gaticoreal {
  left: 500px;
  top: 0px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 56s linear infinite alternate;
}
.nubesvariadas {
  left: 200px;
  z-index: 20;
  top: 0px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 58s linear infinite alternate;
}
.masnubes {
  z-index: 20;
  top: 0px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 40s linear infinite alternate;
}
@keyframes moverNube {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100%);
  }
}

