body{
  overflow-x: hidden;
  min-height: 100vh;
}
.nube {
  left: 30px;
  top: 30px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 55s linear infinite ;
}
.nubesvariadas2 {
  z-index: 20;
  top: 0px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 80s linear infinite ;
}
.gatico1 {
  left: 300px;
  top: 55px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 55s linear infinite ;
}
.nubesvariadasfija{
  position: fixed;
}
.nubesvariadasfinal{
  position: fixed;
  left: 1000px;
}
.coronita {
  opacity: 0.7;
  left: 900px;
  top: 200px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 45s linear infinite ;
}
.gallinita {
  left: 190px;
  top: 0px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 40s linear infinite ;
}
.gaticoreal {
  left: 500px;
  top: 0px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 32s linear infinite ;
}
.nubesvariadas {
  left: 200px;
  z-index: 20;
  top: 0px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 55s linear infinite ;
}
.masnubes {
  z-index: 20;
  top: 0px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 45s linear infinite ;
}
.fnaf {
  opacity: 0.9;
  left: 600px;
  top: 180px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 49s linear infinite ;
}
.cocoro {
  left: 1100px;
  top: 40px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 50s linear infinite ;
}
.gatito10 {
  left: -350px;
  top: 10px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 60s linear infinite ;
}
.gatito20 {
  left: -450px;
  top: 90px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 50s linear infinite ;
}
.gatito30 {
  left: -250px;
  top: 40px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNube 50s linear infinite ;
}
@keyframes moverNube {
  0% {
    transform: translateX(-100%); 
  }
  100% {
    transform: translateX(100%);  
  }
}
@keyframes moverNubeabajo {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(100%);  
  }
}
.xd {
  z-index: 20;
  top: 700px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNubeabajo 45s linear infinite alternate;
}
.xd2 {
  z-index: 20;
  top: 650px;
  left: 900px;
  position: fixed;
  position: absolute;
  width: 100%; 
  height: 100%;
  animation: moverNubeabajo 45s linear infinite alternate;
}
#video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  z-index: -9;
  height: auto;
}
#video-pasto{
  position: absolute;
  top: 790px;
  left: 0px;
  width: 1530px;
  height: auto;
  transition: opacity 1s ease-in-out, clip-path 1s ease-in-out;
}
#video-atardecer{
  position: absolute;
  top: 1810px;
  left: 0px;
  width: 1530px;
  height: auto;
  transition: opacity 1s ease-in-out, clip-path 1s ease-in-out;
}